* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Cores ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #ffffff;
  --primary-color-light: #f6f5ff;
  --toggle-color: rgb(20, 20, 20);
  --switch-mode-color: #ddd;
  --toggle-color-light: rgb(95, 95, 95);
  --shadow-box-color: rgba(0, 0, 0, 0.26);
  --text-color: #707070;
  --gradient-color-01: #e0c3fc;
  --gradient-color-02: #8ec5fc;

  /* ====== Transição ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --switch-mode-color: rgb(245, 245, 245);
  --toggle-color-light: #fff;
  --shadow-box-color: rgba(255, 255, 255, 0.26);
  --text-color: white;
  --gradient-color-01: #2b86c5;
  --gradient-color-02: #784ba0;
}

/* ===== INICIO SIDEBAR ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 255px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.nav-link02 {
  border-radius: 6px;
  background-color: var(--toggle-color);
}

.nav-link02 .text2 {
  color: var(--sidebar-color);
}

.sidebar li a span#cadastro-endereco,
.sidebar li a i#cadastro-endereco {
  color: var(--sidebar-color);
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--toggle-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--toggle-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--primary-color-light);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sol-lua {
  height: 50px;
  width: 60px;
}

.mode .sol-lua i {
  position: absolute;
}

.mode .sol-lua i.sun {
  opacity: 0;
}

body.dark .mode .sol-lua i.sun {
  opacity: 1;
}

body.dark .mode .sol-lua i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--switch-mode-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text a {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
  text-decoration: none;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}

/* ============= TABELA ============= */

.table > :not(caption) > * > * {
  padding: 1.5rem 0.5rem;
  color: var(
    --bs-table-color-state,
    var(--bs-table-color-type, var(--bs-table-color))
  );
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px
    var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100vw;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

th,
td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #f5f3f3;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

tr:hover {
  background-color: #f9f9f9;
}

.action-cell {
  text-align: center;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-edit {
  background-color: #1f51da;
  color: white;
}

.btn-delete {
  background-color: #f44336;
  color: white;
}

.btn:hover {
  background-color: #ddd;
}

body.dark {
  background-color: #18191a;
  color: #fff;
}

body.dark table {
  background-color: #333;
  color: #fff;
}

body.dark th {
  background-color: #444;
  color: #fff;
}

body.dark tr:hover {
  background-color: #555;
}

body.dark .btn-edit {
  background-color: #1f51da;
  color: white;
}
body.dark .btn-delete {
  background-color: #f44336;
  color: white;
}

body.dark .btn:hover {
  background-color: #ddd;
}

/* Media queries (Tornando responsivo) */
@media (max-width: 575.98px) {
  body.dark .table-container {
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body.dark .table-container {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body.dark .table-container {
    margin-bottom: 20px;
  }
}
