@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --cor00:#000;
    --cor01:#8C9CB0;
    --cor02:#E15F09;

    --font-menu:'Montserrat';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

body{
    background: var(--cor01) url(fotos/c837a6_02de7d4c43d44b7b890854049ed75da8f000.webp) center center no-repeat fixed;
    background-size: cover;
    font-family: var(--font-menu),sans-serif;  
}

/* menu */

.aside-menu{
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
    transition: all .3s;
}
.aside-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-logo h1{
    font-size: 28px;
    letter-spacing: 15px;
}

.aside-opicao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-opicao .aside-list{
    list-style: none;
    display: flex;
}

.aside-opicao .aside-list a{
    margin: 0 20px;
    text-decoration: none;
    color: var(--cor00);
    font-size: 1.1em;
    font-weight: 440;
}
.aside-opicao .aside-list a:hover{
    color: var(--cor02);
}

.aside-opicao .aside-list a#entrar{
    background-color: #000;
    padding: 8px 40px;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    transition: all .3s;
}

.aside-opicao .aside-list a#criar{
    background-color: #000;
    border: 1px solid black;
    padding: 8px 20px;
    color: white;
    border-radius: 8px;
    transition: all .3s;
}

.aside-opicao .aside-list a#criar:hover,
.aside-opicao .aside-list a#entrar:hover{
    background-color: #ffffff;
    color:black;
}

.aside-opicao .menu-mobile{
    display: none;
}

/* menu mobile */

@media (max-width:1145px){
    
    .aside-menu{
        padding: 0 40px;
    }
    
    .aside-opicao .aside-list a{
        margin: 0 15px;
    }
    
}

@media (max-width:900px){
    
    .aside-opicao .aside-list a#criar{
        display: none;
    }
    .aside-opicao .aside-list a#itens{
        display: none;
    }
    .aside-opicao .menu-mobile {
        display: flex;
    }
    .aside-opicao .menu-mobile input{
        display: none;
    }
    div.menu-mobile p{
        font-size: 26px;
        font-weight: 800;
        position: relative;
        margin: 0 0 0 20px;
        z-index: 2;
    }

    div.menu-mobile .input-mobile + label i.fa-x{
        display: none;
    }
    div.menu-mobile .input-mobile:checked + label i.fa-x{
        display: flex;
        
    }
    div.menu-mobile .input-mobile:checked + label{
        position: fixed;
        z-index: 3;
        margin-left: -40px;
        top: 35px;
        
    }

    div.menu-mobile .input-mobile:checked + label i.fa-bars{
        display: none;
    }

    div.menu-mobile .input-mobile + label + div{
        display: none;
    }

    div.menu-mobile .input-mobile:checked + label + div{
        display: block;
    }


    div.aside-mobile{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        left: 0;
        top: 0;
        padding-top: 110px;
        z-index: 1;
    }

    div.aside-mobile .list-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    div.aside-mobile .list-mobile li {
        margin-bottom:40px;
    }

    div.aside-mobile .list-mobile a{
        text-decoration: none;
        color: var(--cor00);
        font-size: 1.1em;
        font-weight: 440;
    }
    div.aside-mobile .list-mobile a:hover{
        color: var(--cor02);
    }

    div.aside-mobile .list-mobile #criar{
        background-color: #000;
        padding: 8px 16px;
        color: white;
        border-radius: 8px;
        width: 200px;
        border: 1px solid black;
        transition: all .3s;

    }
    div.aside-mobile .list-mobile #criar:hover{
        background-color: #ffffff;
        color:black;
    }
    .aside-mobile .list-mobile a#entrar{
        display: none;
    }
}

@media (max-width:540px) {
    .aside-menu{
        padding: 0 40px;
    }


    .aside-mobile .list-mobile a#entrar{
        display: flex;
    }

    .aside-opicao .aside-list a#entrar{
        display: none;
    }
    
    .aside-opicao .aside-list a{
        margin: 0;
    }
    div.aside-mobile .list-mobile #entrar{
        background-color: #000;
        padding: 8px 16px;
        color: white;
        border-radius: 8px;
        width: 135px;
        border: 1px solid black;
        transition: all .3s;
        padding: 8px 40px;
        display: flex;
        justify-content: center;
        align-items:center ;

    }
    div.aside-mobile .list-mobile #entrar:hover{
        background-color: #ffffff;
        color:black;
    }
}

/* CONTEUDO-1 */

.main-conteudo{
    display: flex;
    margin: 30px 20px;
    transition: all .3s;
    flex-direction: column;
    align-items: center;
}
.main-conteudo h1{
    font-size: 3.5em;
    font-weight: 420;
    max-width: 730px;
    text-align: center;
}

.main-conteudo p{
    font-size: 1.3em;
    font-weight: 320;
    max-width: 730px;
    text-align: center;
    margin-top: 20px;
}

@media (max-width:770px){
    .main-conteudo h1{
        font-size: 2.8em;
        
    }
    
    .main-conteudo p{
        font-size: 1.2em;
    }
}
@media (max-width:625px){
    .main-conteudo{
        margin: 50px 20px;
    
    }
    .main-conteudo h1{
        font-size: 1.6em;
        font-weight: 600;

    }
    
    .main-conteudo p{
        font-size: 1.2em;
    }
}

/* CONTEUDO-2 */


.main-conteudo-2{
    box-shadow: 0px -60px 60px 60px black;
    position: relative;
    margin-top: 70vh;
    width: 100%;
    height: 800px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all .3s;
}
.main-conteudo-2 .aside-visao{
    max-width: 440px;
    margin: 0 30px;
}
.main-conteudo-2 .aside-visao h3{
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 300;
}
.main-conteudo-2 .aside-visao h2{
    margin-bottom: 50px;
    font-size: 39px;
    font-weight: 400;
    line-height: 40px;
    
}
.main-conteudo-2 .aside-visao p{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}
.main-conteudo-2 .main-2-img img{
    width: 500px;
    
}

@media (max-width:1145px){
    .main-conteudo-2{
        flex-direction: column;
        height: 1000px;
    }
    .main-conteudo-2 .main-2-img img{
        max-width: 100%;
    }
}

footer{
        position: absolute;
        width: 100%;
        height: 400px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all .3s;
}


div.intro-parceiros h1{
    font-size: 20px;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

div.intro-parceiros h2{
    font-size: 20px;
    font-weight: 400;
}
div.parceiros a{
    text-decoration: none;
    color: #000;
}
div.parceiros a:hover{
    text-decoration: underline;
    color: var(--cor02);
}
div.parceiros p{
    margin-bottom: 10px;
    font-weight: 34S0;
}